.calcu{
    padding-top: 20px;
}

.calcu1{
    padding-top: 10px;
}

.calcu3{
    padding-top: 10px;
}

.calcu2{
    padding-top: 10px;
}

.calculadorareal{
    width: 37%;
    height: 570px;
    background-color: #383838;
    border-radius: 20px;
}

.pantalla{
    padding-top: 30px;
}

.pantalla input{
    height: 150px;
    width: 90%;
    border-radius: 20px;
    border: 2px solid #000000;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 10px;
    background-color: #869181;
}

.calcu button{
    width: 70px;
    height: 65px;
    border-radius: 20px;
    font-size: 30px;
    margin: 5px;
    font-weight: bolder;
    font-family: 'Orbitron', monospace;
    background-color: #756c65;
    color: #ffffff;
}

.calcu1 button{
    width: 70px;
    height: 65px;
    border-radius: 20px;
    font-size: 30px;
    margin: 5px;
    font-weight: bolder;
    font-family: 'Orbitron', monospace;
    background-color: #756c65;
    color: #ffffff;
}

.calcu2 button{
    width: 70px;
    height: 65px;
    border-radius: 20px;
    font-size: 30px;
    margin: 5px;
    font-weight: bolder;
    font-family: 'Orbitron', monospace;
    background-color: #333333;
    color: #ffffff;
}

.fila{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.letras{
    font-family: 'Orbitron', monospace;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 15px;
}

.letras button{
    width: 150px;
    height: 65px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Orbitron', monospace;
    text-align: center;
    background-color: #333333;
    color: #ffffff;
}

.calcu3 button{
    width: 70px;
    height: 65px;
    border-radius: 20px;
    font-size: 30px;
    margin: 5px;
    font-weight: bolder;
    font-family: 'Orbitron', monospace;
    background-color: #b5804b;
    color: #ffffff;
}

.titulo{
    font-family: 'Orbitron', monospace;
    font-weight: bolder;
    font-size: 90px;
    text-align: center;
}

body {
  margin: 0;
}

.carrusel {
  height: 38vh;
  display: flex;
  align-items: center;
}

.carrusel-items {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 30px 0px;
}

.carrusel-item {
  min-width: 300px;
  max-width: 300px;
  height: 200px;
  outline: 5px solid black;
  cursor: pointer;
}

.carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrusel-item:hover {
  transform: scale(1.2);
}

.imgs{
    width: 50%;
    height: 380px;
    object-fit: cover;
    margin-left: 20px;
    border: solid 5px #000000;
}

.imgs img{
    width: 100%;
    height: 380px;
}

.contenido{
    display: flex;
    gap: 5%;
}

.texto h1{
    color: #b5804b;
    text-align: center;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.texto p{
    font-weight: bolder;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.texto{
    width: 47%;
    padding-right: 25px;
}

.linea{
    background-color: #b5804b;
    width: 100%;
    height: 2px;
    margin-bottom: 1%;
}