.d-blockw-100{
    width: 800px;
    height: 500px ;}
.textt{
    color: black;
}

.padre1{
    display: flex;
    width: 34.5%;
    padding-left: 175px;
    
}
.padre2{
    display: flex;
    width: 34.5%;
    padding-left: 175px;
    padding-top: 1.5%;
}
.padre3{
    display: flex;
    width: 34.5%;
    padding-left: 175px;
    padding-top: 1.5%;
}
.padre4{
    display: flex;
    align-items: center;
    padding-left: 175px;
    width: 34.5%;
    padding-top: 1.5%;
}

.padre5{
    display: flex;
    align-items: center;
    padding-left: 175px;
    width: 29.2%;
    padding-top: 1.5%;
}
.hijo1{
 width: 30px;
 height: 30px;
}
.boton{
    border: 20px;
    border-radius: 20px;
    border: #000000 solid 2px
    
}



.panta{
    margin-top: 30px;
}

.hijo2{
    margin-left: 2%;
    margin-right: 2%;
}

.calcu button{
    background-color: #ff686b;
    font-weight: bolder;
}

.panta input{
    background-color: #ff686b;
    font-weight: bolder;
    margin: 5px #000000 solid;
}