.d-blockw-100{
    width: 800px;
    height: 500px ;}
.textt{
    color: black;
}
.padre{
    display: flex;
    
    width: 33.333%;
    padding-left: 175px;
    
    
}
.hijo1{
 width: 30px;
 height: 30px;
}
.boton{
    border: 20px;
    border-radius: 20px;
    border-color: black;
    background-color: darkgrey;
    
}
.subtitulo{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: brown;
    border: 25px;
    border-radius: 20px;
}